DEBUG_LEVEL='info'
BASE_TEST_URL='http://localhost'
TEST_DB_URL=sqlite://localhost/sites/default/files/db.sqlite
# TEST_WEBSERVER_USER=
# Set a value to run tests on local website.
# PLAYWRIGHT_LOCAL=1 npx playwright test
PLAYWRIGHT_LOCAL=
PLAYWRIGHT_SKIP_TEARDOWN=
