# Reporter level: error, warn, info, http, verbose, debug, silly
PLAYWRIGHT_DEBUG_LEVEL='debug'

## Uncomment the section you need.

# Case 1: Web server only, no database, not installed
# Install Drupal during the test (like ci) and create a simpletest environment.
# All required modules and themes are enabled. The tests can take longer.
# For example built in webserver from Drupal root: `php -S localhost:8000`

# DRUPAL_TEST_BASE_URL='http://localhost:8000/web'
# DRUPAL_TEST_SETUP_FILE='modules/custom/display_builder/tests/src/TestSite/DisplayBuilderTestSetup.php'
# DRUPAL_TEST_DB_URL=sqlite://localhost/sites/default/files/db.sqlite

# Case 2: Web server with Drupal installed
# With an installed local Drupal on localhost:8000 with a database connected,
# some modules and themes are required, see doc.

# DRUPAL_TEST_BASE_URL='http://localhost:8000/web'
# DRUPAL_TEST_SKIP_INSTALL=true

# Case 3: Drupal with DDEV, some modules and themes are required, see doc.

# DRUPAL_TEST_BASE_URL='https://display-builder.ddev.site'
# DRUPAL_TEST_SKIP_INSTALL=true
# DRUPAL_TEST_DRUSH_PREFIX='ddev'

# Some ci variables empty or ignored for local tests.
DRUPAL_WEB_ROOT=''
SIMPLETEST_URL_FOLDER=''
# DRUPAL_TEST_WEBSERVER_USER=www-data
PLAYWRIGHT_SKIP_TEARDOWN=true
