# Example with DDEV
DRUPAL_TEST_BASE_URL='https://display-builder.ddev.site'
DRUPAL_TEST_DB_URL=sqlite://localhost/sites/default/files/db.sqlite
DRUPAL_TEST_SETUP_FILE='modules/custom/display_builder/tests/src/TestSite/DisplayBuilderTestSetup.php'

# Used to find the Drupal root dir.
# DRUPAL_WEB_ROOT=''

# For example CI Apache in on the Drupal root and access is under /web
SIMPLETEST_URL_FOLDER=''
# DRUPAL_TEST_WEBSERVER_USER=www-data
# Reporter level: error, warn, info, http, verbose, debug, silly
PLAYWRIGHT_DEBUG_LEVEL='info'

# PLAYWRIGHT_SKIP_TEARDOWN=true
