parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$array of function uasort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Form/DisplayBuilderForm.php

		-
			message: '#^Parameter \#2 \$callback of function uasort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Form/DisplayBuilderForm.php

		-
			message: '#^Cannot access offset ''icon'' on array\|Drupal\\Component\\Plugin\\Definition\\PluginDefinitionInterface\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/IslandPluginBase.php

		-
			message: '#^Cannot access offset ''id'' on array\|Drupal\\Component\\Plugin\\Definition\\PluginDefinitionInterface\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/IslandPluginBase.php

		-
			message: '#^Cannot access offset ''keyboard_shortcuts'' on array\|Drupal\\Component\\Plugin\\Definition\\PluginDefinitionInterface\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/IslandPluginBase.php

		-
			message: '#^Cannot access offset ''label'' on array\|Drupal\\Component\\Plugin\\Definition\\PluginDefinitionInterface\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/IslandPluginBase.php

		-
			message: '#^Cannot access offset ''type'' on array\|Drupal\\Component\\Plugin\\Definition\\PluginDefinitionInterface\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/IslandPluginBase.php

		-
			message: '#^Cannot access offset ''type'' on array\|Drupal\\Component\\Plugin\\Definition\\PluginDefinitionInterface\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/IslandPluginManager.php
