.db-spacer {
  display: block;
  &.db-spacer-vertical {
    width: 100%;
    height: var(--size, "24px");
  }
  &.db-spacer-horizontal {
    width: var(--size, "24px");
    height: 100%;
    min-height: var(--size);
  }
  &.db-spacer-both {
    width: var(--size, "24px");
    height: var(--size, "24px");
  }
}

.display-builder--highlight .db-spacer-vertical {
  width: 98%;
}
