.db-island-library .db-placeholder {
  --padding: var(--sl-spacing-x-small);
  --border-radius: var(--sl-border-radius-large);

  margin-bottom: var(--sl-spacing-x-small);
  cursor: grab;
}

/* Hover effect only when in library context. */
.db-island-library .db-placeholder:hover {
  box-shadow: var(--sl-shadow-large);
  &::part(base) {
    border-color: var(--sl-color-primary-600);
    background-color: var(--sl-color-primary-50);
  }
}
