:root,
.display-builder.sl-theme-dark {
  --layer-base-container-bg-color: var(--sl-color-neutral-50);
  --layer-text-color-hover: var(--sl-color-primary-700);
  --layer-component-bg-color: var(--sl-color-neutral-50);
  --layer-component-bg-color-hover: var(--sl-color-orange-100);
  --layer-component-border-color: var(--sl-color-neutral-300);
  --layer-component-border-color-hover: var(--sl-color-purple-700);
  --layer-block-bg: var(--sl-color-primary-100);
  --layer-block-bg-hover: var(--sl-color-primary-200);
  --layer-block-border-color: var(--sl-color-primary-700);
  --layer-block-border-color-hover: var(--sl-color-primary-700);
  --layer-block-text: var(--sl-color-primary-800);
  --layer-pill-bg: var(--sl-color-indigo-50);
  --layer-pill-border: var(--sl-color-warning-300);
  --layer-pill-text: var(--sl-color-neutral-950);
  --layer-slot-title-color: var(--sl-color-warning-800);
  --layer-dropzone-slot-min-height: 1.7rem;
}

/* When moving something inside the builder highlight the slots. */
.display-builder--onMove .db-island-layers [data-slot-id] {
  /* padding: 1rem 1rem 0.5rem 1rem; */
  outline: var(--dropzone-slot-outline-width) var(--dropzone-color-target) var(--dropzone-slot-outline-type);
  outline-offset: var(--dropzone-slot-outline-offset);
}

.display-builder--onMove {
  .db-dropzone--root {
    outline: 2px dashed var(--dropzone-color-target);
  }

  .db-island-layers {
    .db-layer--component:hover::part(base) {
      border-color: var(--layer-component-border-color) !important;
      background-color: var(--layer-base-container-bg-color) !important;
    }
  }
}

.db-island-layers {
  .db-dropzone[data-component-id][data-slot-id]:empty {
    min-width: 0;
    min-height: var(--layer-dropzone-slot-min-height);
  }

  .db-dropzone--root {
    padding: 1rem;
    background-color: var(--layer-base-container-bg-color);
  }

  .db-layer {
    scroll-margin-top: var(--toolbar-height, 64px);
    position: relative;
    width: 100%;
    min-height: 1rem;
    margin: 0 0 0.5rem 0;
    cursor: move;
    color: var(--db-text-color);
    font-size: 0.9rem;

    &::part(base) {
      padding: 0.25rem;
      border: 2px dashed transparent;
      border-radius: var(--sl-border-radius-small);
    }

    &::part(header) {
      padding: 0.2rem 0.5rem;
      border-bottom: none;
    }

    &:hover {
      color: var(--layer-text-color-hover);

      &::part(base) {
        box-shadow: var(--sl-shadow-large);
      }
    }

    .db-layer__title {
      flex-basis: 20%;
      margin: 0;
      font-size: 0.9rem;
    }

    .db-layer__header {
      display: flex;
    }

    .db-layer__info {
      flex-grow: 1;
      margin: 0 0.25rem 0 1rem;
      text-align: right;
      font-size: 0.75rem;

      em {
        margin-right: 0.2rem;
        margin-left: 0.3rem;
      }

      ul {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        display: inline-block;
        margin-right: 0.125rem;
        padding: 0.1rem 0.5rem;
        color: var(--layer-pill-text);
        border: 1px solid var(--layer-pill-border);
        border-radius: 0.125rem;
        border-radius: var(--sl-border-radius-pill);
        background-color: var(--layer-pill-bg);
      }
    }

    .db-layer__children {
      padding-left: 0.4375rem;
      color: var(--layer-slot-title-color);
      font-style: italic;

      > * {
        font-style: normal;
      }
    }

    .db-layer__children > slot {
      margin-top: 0.4375rem;
    }

    &.db-layer--component {
      &::part(base) {
        padding: 0;
        border-color: var(--layer-component-border-color);
        background-color: var(--layer-component-bg-color);
      }

      &::part(body) {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
      }

      &:hover {
        &::part(base) {
          border-color: var(--layer-component-border-color-hover);
          background-color: var(--layer-component-bg-color-hover);
        }
      }
    }

    &.db-layer--block {
      margin-bottom: 0.5rem;
      padding: 0;
      cursor: grab;

      &::part(body) {
        padding: 0.2rem 0.5rem;
      }

      &::part(base) {
        padding: 0;
        color: var(--layer-block-text);
        border-color: var(--layer-block-border-color);
        background-color: var(--layer-block-bg);
      }

      &:hover {
        &::part(base) {
          border-color: var(--layer-block-border-color-hover);
          background-color: var(--layer-block-bg-hover);
        }
      }
    }
  }
}

.display-builder--highlight .db-island-layers {
  .db-dropzone--root {
    outline: var(--dropzone-slot-outline-width) var(--dropzone-color-target-light) var(--dropzone-slot-outline-type) !important;
    outline-offset: 0 !important;
  }

  [data-slot-id] {
    padding: 0.2rem;
  }

  .db-dropzone[data-component-id][data-slot-id]:empty {
    &::after {
      min-height: var(--layer-dropzone-slot-min-height);
      margin-left: 1rem;
      content: " Empty slot ";
      font-size: x-small;
      font-style: italic;
    }
  }

  .db-layer {
    &.db-layer--component {
      &::part(base) {
        border-color: var(--layer-component-border-color-hover);
      }
    }
  }
}
