/* Temporary fixes related to themes and plugins */

/* Olivero fix for header z-index */
:has(.display-builder):has(.site-header__fixable) {
  .site-header {
    z-index: 2;
  }
}

/* Fix for fullscreen */
.display-builder-is-fullscreen {
  #toolbar-administration {
    display: none;
  }

  .site-header {
    z-index: 1;
    opacity: 0;
  }
}

/* Display Views, page and Entity block as block */
.db-island-builder .db-placeholder:not([data-node-type="token"]),
.db-island-preview .db-placeholder:not([data-node-type="token"]) {
  display: block;
  width: 100%;
  padding: 1rem;
}

/* DSFR fixes */
/* Checkbox in config details without label is hidden below */
.display-builder .db-form details .fr-checkbox-group input[type="checkbox"] {
  position: relative;
  width: 1rem;
  opacity: 1;
}
