/* Normal display. */
.display-builder {
  .shoelace-drawer {
    color: var(--sl-color-neutral-700);
    &::part(base) {
      z-index: calc(var(--db-z-index, 1) + 1);
      margin-top: var(--drupal-displace-offset-top, 0);
    }
  }
}

/* Navigation left sidebar support. */
body:has(> .admin-toolbar) .display-builder .shoelace-drawer {
  &::part(base) {
    z-index: calc(var(--drupal-admin-z-index, 501) + 1);
  }
}

/* Admin toolbar vertical, we pass hover, admin toolbar z-index is 501. */
.toolbar-tray-open.toolbar-vertical .display-builder .shoelace-drawer,
.gin--navigation .display-builder .shoelace-drawer,
.gin--vertical-toolbar .display-builder .shoelace-drawer {
  &::part(base) {
    z-index: 502;
  }
}

.toolbar-loading .display-builder .shoelace-drawer {
  &::part(base) {
    z-index: 1252;
  }
}

/* Fullscreen display */
.display-builder.display-builder--fullscreen .shoelace-drawer {
  &::part(base) {
    /* Ignore the top toolbar, only check the Display Builder toolbar. */
    margin-top: 92px;
  }
}
.toolbar-loading .display-builder.display-builder--fullscreen {
  z-index: 1252;
}
