.display-builder .db-form {
  * {
    font-size: var(--sl-button-font-size-medium) !important;
  }

  .shoelace-tabs {
    margin-bottom: 0.5rem;
  }

  .ui-icons-wrapper {
    .ui-icons-select {
      display: inline-block;
      margin-top: 0.5rem;
      .form-item--error-message {
        display: none;
      }
      > div {
        display: contents;
      }
    }
  }

  .ajax-progress-throbber {
    display: none !important;
  }

  .ui-icons-settings-wrapper {
    margin-top: 0.5rem;
  }

  .form-item {
    margin-block: 0.5rem;
  }
}
