.db-preview {
  position: absolute;
  z-index: calc(var(--db-z-index) + 4);
  top: 15%;
  left: 25rem;
  display: none;
  width: max-content;
  max-width: 50rem;
}

.db-preview > * {
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

/* Navigation left sidebar support. */
body:has(> .admin-toolbar) .db-preview {
  z-index: calc(var(--drupal-admin-z-index, 501) + 4);
}
