/* Hide the container ond style to content to minimize empty tippy effect. */
.tippy-box[data-theme~="db-preview"] {
  padding: 0;
  color: var(--db-text-color) !important;
  background: none transparent !important;
  box-shadow: none;

  .tippy-content:not(:empty) {
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--db-background-color) !important;
    box-shadow: var(--db-shadow);
  }
}
