:root {
  --db-menu-z-index: 901;
}

.display-builder .db-menu {
  position: absolute;
  z-index: var(--db-menu-z-index);
  display: none;
  border: 1px dashed var(--sl-color-neutral-200) !important;
  box-shadow: var(--sl-shadow-x-large);

  .db-menu__label::part(base) {
    padding-left: 0.5rem;
    color: var(--db-text-color);
    font-style: italic;
  }
  .menu__item::part(checked-icon) {
    width: 0.5rem;
  }
  .menu__item[hx-delete]::part(base) {
    color: var(--sl-color-danger-600);
  }

  pre.debug-info {
    min-width: 20rem;
    margin: 0;
    padding: 3px;
    border: 1px solid var(--sl-color-neutral-600);
    background-color: var(--db-background-color);
    font-size: 0.8rem;
  }
}

/* Shoelace menu items are HTML checkboxes. Some themes are styling checkboxes a bit aggressively. */
sl-menu-item[type="checkbox"] {
  width: auto;
  height: auto;
}
