.db-drawer {
  /* Just below administration toolbar */
  --sl-z-index-drawer: 500;
  --body-spacing: 0 0.5rem 1rem;
  --header-spacing: 0.5rem 0.5rem 0.5rem 1rem;
}

.db-drawer .db-tabs {
  margin-bottom: 0.5rem;
}

.db-drawer::part(overlay) {
  display: none;
  visibility: none;
  background-color: transparent;
}

/* Admin toolbar compatibility */
.toolbar-horizontal.toolbar-fixed .db-drawer::part(header) {
  padding-top: var(--drupal-displace-offset-top, 0);
}
