.db-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.db-display-builder {
  container-type: inline-size;
  container-name: toolbar;
}

@container toolbar (max-width: 850px) {
  .db-toolbar {
    height: 100%;
    max-height: 12rem;
    gap: 1rem;
  }
  .db-toolbar__middle {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    order: 3;
  }
}

.db-toolbar--sticky {
  position: sticky;
  z-index: var(--db-z-index, 1);
}

.db-toolbar__end > *:not(:first-child, dialog) {
  margin-left: 6px;
}

/* Compatibility with core admin toolbar. */
.db-toolbar {
  top: var(--drupal-displace-offset-top, 0);
}

.db-display-builder--fullscreen .db-toolbar {
  z-index: calc(var(--db-z-index, 1) + 2);
  top: 0;
}

/* Compatibility with core navigation. */
/* @todo is there a variable? */
html[data-admin-toolbar] .db-toolbar {
  top: 0.5em;
}
